@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  background-color: #FFFFFF;
  color: #000000;
}

.navigation {
  width: 1060px;
  margin: 0 auto;
  display: flex;
}

.page-header-logo {
  width: 140px;
  margin-right: 30px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 440px;
}

.navigation-user-list {
  width: 270px;
  margin-left: auto;
}

.navigation-link {
  color: inherit;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.main-index {
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.hero {
  background-color: #000000;
  color: #FFFFFF;
  background-image: url("../images/background-images/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.advantages {
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
}

.advantages-item-wrapper {
  display: flex;
}

.advantages-item {
  width: 400px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages-description {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.advantages-item-bright {
  width: 1200px;
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
}

.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
}

.advantages-item-dark {
  background-color: rgba(131, 179, 211, 0.2);
  color: #333333;
}

.advantages-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding: 0 113px;
  text-transform: uppercase;
}

.advantages-item-title-black {
  color: #000000;
}

.advantages-item-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding: 0 85px;
}

.service-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-description {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.service-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.service-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.service-item-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding: 0 85px;
  color: #333333;
}

.service-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
}

.subscription {
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
}

.subscription-form input {
  background-color: rgba(242, 242, 242, 1);
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.subscription-form-index input {
  background-color: rgba(242, 242, 242, 1);
}

.subscription-index {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  background-image: url("../images/background-images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscription-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.subscription-form input {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border: 0;
}

.footer-contacts {
  background-color: #fff;
  color: #000000;
  display: flex;
}

.footer-social-list {
  display: flex;
  width: 200px;
  padding-left: 70px;
  list-style: none;
}

.footer-social-item-link {
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.footer-contacts-phone {
  color: inherit;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
}

.footer-contacts-about {
  width: 115px;
  padding-right: 70px;
  margin-left: auto;
}

.htmlacademy-link {
  color: inherit;
  text-decoration: none;
}

.main-inner {
  background-color: #fff;
}

.filter {
  margin: 0;
  padding: 0 70px;
  background-color: #000000;
  color: #fff;;
  background-image: url("../images/background-images/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.filter-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}

.breadcrums {
  display: flex;
}

.breadcrums-item-link {
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-decoration: none;
}

.catalog-filter {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  display: flex;
}

.catalog-filter-group {
  width: 150px;
}

.catalog-filter-group-type {
  width: 150px;
}

.catalog-filter-group-price {
  width: 550px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.control input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.catalog-filter-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: 0;
}

.catalog-filter-button-cancel {
  background-color: rgba(130, 179, 211, 0);
  border: 0;
}

.catalog-products {
  width: 1060px;
  margin: 0 auto;
}

.catalog-products-filter {
  display: flex;
}

.button-view-wrapper {
  width: 160px;
  margin-left: auto;
  /* display: flex; */
}

.catalog-products-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  margin-right: 200px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  width: 292px;
  height: 50px;
  color: #333333;
  background-color: #FFFFFF;
  border: 2px solid rgba(229, 229, 229, 1);
}

.product-list {
  padding: 0;
  list-style: none;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: 300px;
  padding: 20px;
  border: 1px solid rgba(230, 230, 230, 1);
}

.product-card-link {
  color: #000000;
  text-decoration: none;
}

.product-card-subtitle {
  color: #333333;
}

.product-card-button-like {
  background-color: #82B3D3;
}

.product-card-button-like-active {
  background-color: #7DB54F;
}

.product-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  width: 140px;
  height: 37px;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.pagination-active {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link-more {
  color: #000000;
  background-color: #fff;
}
